.App {
  display: flex;
  flex-direction: column;
}
.Content{
  display: flex;
  flex-direction: column;
 align-self: center;
 width: 80vw;
 margin-top: 1rem;
}
.Header{
  background-color: #ecfffd;
  padding-left: 3rem;
  padding-right: 2rem;
  box-shadow: 3px 3px 3px #e9e9e9;
}
.Button{
  align-self:flex-end;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 435px) {
  .Content{
    margin: 1rem;
    padding-top: 2rem;
  }
  .Header{
    padding-left: 0rem;
    padding-right: 0rem;
  }
}