.root{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    justify-content: center;
   background-color: #fdffff;;
}
.mobileroot{

}
.mobile-form-wrapper {
  display: flex;
   align-items: center; 
   height: inherit; 
   padding: 5rem 0 9rem  0;
   background-color: white;;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


.desktop-form-wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   height: inherit;
  
   background-color: white;
 
    box-shadow: 0 3px 6px rgba(238, 232, 232, 0.16), 0 3px 6px rgba(226, 217, 217, 0.23);
  
}

.mobile-form {
 
   padding: 1.5rem 1rem;
   background-color: white;
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.desktop-form {
   background-color: white;
   padding: 2rem 1.5rem;
   width: 350px;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.mobile-button {
   margin-bottom: 0;
  background-color: black;
   color: white;
}

.desktop-button {
     box-shadow: none;  
    background-color: black;
      color: white; 
}
.icon{
   font-size: 22px;
   margin-right: 0.5rem;
}