.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s ;
  }
}

.App-header {
  background-color: #012b2e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(218, 253, 242);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    top: 0px;
  }
  to {
    top: 500px;
  }
}
